@import "bootstrap-sass/assets/stylesheets/bootstrap.scss"
@import "base"
@import "vars"
@import "libs"

/* General */
.animate-up, .animate-down
  -webkit-transition: all, .4s
  -moz-transition: all, .4s
  -ms-transition: all, .4s
  -o-transition: all, .4s
  transition: all, .4s
i.status
  display: inline-block
  width: 12px
  height: 12px
  background: url("../img/sprites/status-sprite.png") no-repeat
  &.status-available
    background-position: 0px 0px
  &.status-unavailable
    background-position: 0px -12px

/* Header */
.main-header
  padding-bottom: 200px
  background: url("../img/header-bg.png") no-repeat center top
  &_top
    margin-bottom: 150px
    padding-top: 50px

ul.main-header_social
  margin: 0
  padding: 0
  font-size: 0
  li
    display: inline-block
    margin-right: 5px
    &:last-child
      margin-right: 0
    a
      display: block
      font-size: 1px
      width: 26px
      height: 25px
      background: url("../img/sprites/header-social.png") no-repeat
    .social-fb
      background-position: 0px 0px
    .social-tw
      background-position: -31px 0px
    .social-ln
      background-position: -62px 0px

.main-header_title
  margin: 0 0 40px
  font-size: 45px
  color: #fff
  font-family: $accent-font
  span
    color: $accent
    font-weight: bold

.main-header_description
  font-size: 20px
  color: #fff
  max-width: 60%
  margin: 0 auto 70px

form.main-register
  position: relative
  padding: 25px 20px
  background: rgba(0, 0, 0, .4)
  input
    width: 22%
    outline: none
    margin-right: 2.5%
    border: 1px solid $accent-border
    border-radius: 2px
    box-shadow: -3px 0 0 0 $accent
    background: #000
    padding-left: 20px
    line-height: 44px
  .main-submit
    padding-left: 0
    margin-right: 0
    border: none
    box-shadow: none
    background: $accent
    color: #fff
    &:hover
      background: lighten($accent, 5%)
    &:active
      -webkit-transform: scale(.98)
      -moz-transform: scale(.98)
      -ms-transform: scale(.98)
      -o-transform: scale(.98)
      transform: scale(.98)
  .header-appeal
    position: absolute
    bottom: -45px
    right: 17%
    background: url(../img/header-tooltip-shape.png) no-repeat 100% 0px
    padding-right: 50px
    line-height: 40px


/* Sections */
section
  padding: 100px 0
h3.section-heading
  position: relative
  font-size: 35px
  font-family: $accent-font
  text-align: center
  padding-bottom: 25px
  margin: 0 0 15px
  color: $headings
  background: url("../img/heading-line.png") no-repeat center bottom
p.section_sub-heading
  text-align: center
  font-size: 17px
  margin: 0 0 75px
.dark-section
  background: $dark-section_bg
.work-img img
  width: 100%
.work-description
  &_heading
    position: relative
    margin: 0 0 35px
    font-size: 35px
    font-family: $accent-font
    color: #323232
    padding-bottom: 25px
    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 0
      display: block
      width: 68px
      height: 1px
      background: $accent
  &_body
    p
      margin: 0
    .general-txt
      margin-bottom: 45px

.work-benefit
  margin-bottom: 50px
  padding-left: 50px
  position: relative
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0
    width: 32px
    height: 32px
    border-radius: 4px
  &_heading
    color: $headings
    margin-bottom: 15px
    font-family: $accent-bold-font
  &.benefit-1:before
    background: url("../img/icons/icon-2.png") no-repeat center, $accent
  &.benefit-2:before
    background: url("../img/icons/icon-1.png") no-repeat center, $accent
  &.benefit-3:before
    background: url("../img/icons/icon-4.png") no-repeat center, $accent
  &.benefit-4:before
    background: url("../img/icons/icon-3.png") no-repeat center, $accent

/* Features */
.feature
  margin-bottom: 70px
  &-icon
    width: 50px
    height: 50px
    margin: 0 auto 30px
    background: url("../img/sprites/features-sprite.png") no-repeat
  .f_icon-1
    background-position: 0px -100px
  .f_icon-2
    background-position: 0px -50px
  .f_icon-3
    background-position: 0px 0px
  .f_icon-4
    background-position: 0px -250px
  .f_icon-5
    background-position: 0px -200px
  .f_icon-6
    background-position: 0px -150px
  &-title
    font-size: 20px
    font-family: $accent-semibold-font
    margin-bottom: 25px
    color: $headings
  &-description
    margin: 0

/* Price */
.price
  border: 1px solid $border
  &-header
    -webkit-transition: background, .3s
    -moz-transition: background, .3s
    -ms-transition: background, .3s
    -o-transition: background, .3s
    transition: background, .3s
    padding: 20px 0
    background: $headings
    color: #fff
    span
      font-family: $bold-font
      color: $accent
    &_title
      font-family: $accent-semibold-font
      font-size: 24px
      margin-bottom: 12px
  &-body
    margin: 0
    padding: 0
    li
      display: block
      position: relative
      padding: 0 30px
      border-bottom: 1px dotted $border
      line-height: 50px
      span
        float: right
        color: $headings
      i.status
        position: absolute
        right: 30px
        top: 40%
  &-footer
    padding: 18px 30px
    &_val
      font-size: 18px
      font-family: $accent-bold-font
      line-height: 40px
      color: $headings
    &_btn
      -webkit-transition: background, .3s
      -moz-transition: background, .3s
      -ms-transition: background, .3s
      -o-transition: background, .3s
      transition: background, .3s
      float: right
      border: 1px solid $main-txt
      border-radius: 4px
      background: transparent
      line-height: 38px
      padding: 0 10px

.price:hover
  -webkit-transform: scale(.988)
  -moz-transform: scale(.988)
  -ms-transform: scale(.988)
  -o-transform: scale(.988)
  transform: scale(.988)
  -webkit-box-shadow: 0 0 10px 1px lighten($border, 1%)
  -moz-box-shadow: 0 0 10px 1px lighten($border, 1%)
  box-shadow: 0 0 15px 2px lighten($border, 1%)
  .price-header
    background: $accent
    span
      color: #fff
  .price-footer_btn
    background: $accent
    border: none
    color: #fff

/* Video */
.main-video
  iframe
    min-width: 75%
    max-width: 100%
    margin-bottom: 40px
  &_features
    margin: 0
    padding: 0
    font-size: 0
    min-height: 18px
    li
      display: inline-block
      margin-right: 10%
      &:last-child
        margin-right: 0
    a
      display: block
      color: $headings
      font-size: 18px
      font-family: $accent-bold-font
      padding-left: 30px
      text-decoration: none
      position: relative
      &:before
        content: ''
        display: block
        position: absolute
        left: 0
        top: 5px
        width: 19px
        height: 18px
        background: url("../img/sprites/video-sprite.png") no-repeat
    .video-trusted:before
      background-position: 0px 0px
    .video-documentation:before
      background-position: 0px -18px
    .video-support:before
      background-position: 0px -41px


/* Carousel */
.main-carousel
  .owl-controls
    margin-top: 40px
    font-size: 0
  .owl-dot
    font-size: 10px
    display: inline-block
    width: 12px
    height: 12px
    background: #94cae6
    border-radius: 50%
    margin-right: 10px
    &:last-child
      margin-right: 0
    &.active, &:hover
      background: #0199e6

/*  Testimonials & Clients */
.clients
  margin: 0 0 75px
  padding: 0
  font-size: 0
  li
    display: inline-block
    margin-right: 40px
    &:last-child
      margin-right: 0
  a
    display: block
    width: 136px
    height: 40px
    font-size: 10px
    background-image: url("../img/sprites/clients-sprite.png")
    background-repeat: no-repeat
  &-vg
    background-position: 0px 0px
  &-msh
    background-position: 0px -42px
  &-tnw
    background-position: 0px -89px
  &-ng
    background-position: 0px -134px


.testimonial
  &-body
    background: $testimonial-bg
    border-radius: 0 0 5px 5px
    border-bottom: 2px solid $border
    margin: 0 0 30px
    position: relative
    font-family: $italic-font
    padding: 50px 30px 30px
    &:before, &:after
      display: block
      position: absolute
    &:before
      content: '"'
      padding-top: 7px
      top: -19px
      left: 45%
      width: 32px
      height: 32px
      line-height: 32px
      border-radius: 3px
      background: $accent
      color: #fff
      font-size: 40px
      font-family: 'Arial', sans-serif
      border: 3px solid #fff
      box-shadow: 0 0 0 1px $border
    &:after
      content: ''
      bottom: -16px
      left: 0
      width: 100%
      height: 16px
      background: url("../img/testimonials-triangle.png") no-repeat center center, transparent
  &-author
    span
      display: block
    .author-name
      font-family: $bold-font
      color: $accent
      margin-bottom: 10px
    .author-post
      font-size: 13px

/* Registration */
.registration-section
  background: url("../img/registration-bg.png") no-repeat
  background-size: cover
  padding: 130px 0
  .tagline
    color: #fff
    font-family: $accent-bold-font
    span
      display: block
    &-top
      font-size: 20px
      margin-bottom: 20px
    &-main
      font-size: 35px
      margin-bottom: 50px
    &-btn
      line-height: 52px
      border: none
      background: $accent
      border-radius: 4px
      padding: 0 30px
      &:hover
        background: lighten($accent, 2%)
      &:active, &:focus
        outline: none
        -webkit-transform: scale(.988)
        -moz-transform: scale(.988)
        -ms-transform: scale(.988)
        -o-transform: scale(.988)
        transform: scale(.988)

/* Contact */
.contact-section
  &_call
    display: block
    font-size: 24px
    font-family: $accent-semibold-font
    margin-bottom: 25px
  &_link
    display: inline-block
    color: $accent
    font-family: $accent-bold-font
    font-size: 18px
    padding-left: 26px
    background: url("../img/icons/icon_7.png") no-repeat left center
    &:hover
      text-decoration: none
      color: lighten($accent, 6%)


/* Footer */
.main-footer
  padding: 75px 0 90px
  .footer-logo
    display: block
    margin-bottom: 20px
  .copyright
    @extend .footer-logo
    color: #919191
  .footer-social
    margin: 0
    padding: 0
    font-size: 0
    li
      display: inline-block
      margin-right: 5px
      &:last-child
        margin-right: 0
    a[class^="footer-social"]
      font-size: 10px
      display: block
      width: 26px
      height: 25px
      background-image: url("../img/sprites/footer-sprite.png")
      background-repeat: no-repeat
    &_fb
      background-position: 0px 0px
    &_tw
      background-position: -31px 0px
    &_pt
      background-position: -62px 0px
    &_gl
      background-position: -93px 0px
    &_im
      background-position: -124px 0px
    &_ln
      background-position: -155px 0px


@import "media"
